@use "./sass/global";
@use "./sass/navbar";
@use "./sass/homepage";
@use "./sass/about";
@use "./sass/skills";
@use "./sass/contact";
@use "./sass/projects";
@use "./sass/animation";
@use "./sass/media";


@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");

// fooooooter

.footer {
  text-align: center;
  background-color: black;
  color: white;
}


